$total-columns: 12;
$gutter-spacing: $spacing-1-5;

//- Container
.container {
  flex: 1 0 auto;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  padding: $spacing-1-5 $spacing-1-5 0;
  
  &--narrow {
    width: 100%;

    @media (#{$tablet-up}) {
      width: 80%;
    }
  }
}

//- Grid
.grid { 
  @media (#{$phablet-up}) {
    @include grid;
  }

  
    &--top      { align-items: flex-start; }
    &--middle   { align-items: center; }
    &--bottom   { align-items: flex-end; }
    &--stretch  { align-items: stretch; }
    &--baseline { align-items: baseline; }
    &--left     { justify-content: flex-start; }
    &--center   { justify-content: center; }
    &--right    { justify-content: flex-end; }
    &--between  { justify-content: space-between; }
    &--around   { justify-content: space-around; }
  

  &--small {
    @include grid;
    
    .grid__cell {
      @include cell;
    }
  }

  .grid__cell { 
    @media (#{$phablet-up}) {
      @include cell; 
    }
  
    &--fill { 
      flex-grow: 1 !important; 
    }
      
  }


  @media (#{$phablet-up}) {
    &--gutters {
      > .grid__cell {
        padding-left: calc(#{$gutter-spacing} / 2);
        padding-right: calc(#{$gutter-spacing} / 2);
  
        &:first-of-type {
          padding-left: 0;
        }
        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }

  //- Grid dictates columns
  @for $index from 1 through $total-columns {
    &--of-#{$index} {
      .grid__cell {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100 / #{$index} * 1%);
      }
    }
  }
  @media (#{$tablet-up}) {
    @for $index from 1 through $total-columns {
      &--of-#{$index}\@md {
          .grid__cell {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: calc(100 / #{$index} * 1%);
          }
        }
      }
  }
  @media (#{$desktop-up}) {
    @for $index from 1 through $total-columns {
      &--of-#{$index}\@lg {
          .grid__cell {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: calc(100 / #{$index} * 1%);
          }
        }
      }
  }


  //- Columns form grid
  @for $index from 1 through $total-columns {
    .grid__cell--#{$index}-of-#{$total-columns} {
        @if ($index != $total-columns) {
          width: calc(100% / #{$total-columns} * #{$index});
        } @else {
        width: 100%;
      }
    }
  }
  @media (#{$phablet-up}) {
    @for $index from 1 through $total-columns {
      .grid__cell--#{$index}-of-#{$total-columns}\@sm {
          @if ($index != $total-columns) {
            width: calc(100% / #{$total-columns} * #{$index});
          } @else {
          width: 100%;
        }
      }
    }
  }
  @media (#{$tablet-up}) {
    @for $index from 1 through $total-columns {
      .grid__cell--#{$index}-of-#{$total-columns}\@md {
          @if ($index != $total-columns) {
            width: calc(100% / #{$total-columns} * #{$index});
          } @else {
          width: 100%;
        }
      }
    }
  }
  @media (#{$desktop-up}) {
    @for $index from 1 through $total-columns {
      .grid__cell--#{$index}-of-#{$total-columns}\@lg {
          @if ($index != $total-columns) {
            width: calc(100% / #{$total-columns} * #{$index});
          } @else {
          width: 100%;
        }
      }
    }
  }




}




