---
layout: default
---

  {{ content }}

  {%- if site.posts.size > 0 -%}
    
    <ul class="post-list list--unstyled">
      {%- for post in site.posts -%}
      <li class="post">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h3 class="post__title">
          <a class="post__link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <p class="post__meta">{{ post.date | date: date_format }}</p>
        <div class="post__content">
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </div>
      </li>
      {%- endfor -%}
    </ul>
    

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

